<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config.properties"/>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--        <setting name="logLevel" value="DEBUG"/>-->
    </settings>

    <!-- 对象工厂 User userName -->
    <objectFactory type="org.deng.objectFactory.StuObjectFactory">
        <property name="a" value="666"/>
    </objectFactory>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/StuMapper.xml"/>
    </mappers>
</configuration>