<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config.properties"/>

    <settings>
<!--        标准日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--        二级缓存-->
        <setting name="cacheEnabled" value="false"/>
<!--        延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--        加载对象的所有属性-->
        <setting name="aggressiveLazyLoading" value="true"/>
<!--        -->
<!--        <setting name="localCacheScope" value="STATEMENT"/>-->
<!--        缓存的对象-->
        <setting name="localCacheScope" value="SESSION"/>
    </settings>

    <!-- 对象工厂 User userName -->
    <objectFactory type="org.deng.objectFactory.ObjectFactory">
        <property name="sId" value="666"/>
    </objectFactory>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/StuMapper.xml"/>
    </mappers>
</configuration>